@media screen and (max-width: 991px) {
    .nav-toggle {
        display: block;
        margin-top: 24px;
    }

    .font-bold {
        font-size: 1.4rem;
        margin-bottom: -1rem;
    }

    .main-nav {
        z-index: 1;
    }

    .navbar {
        position: absolute;
        /* display: none; */
        position: absolute;
        background-color: #98979b;
        left: -115%;
        top: 99%;
        width: 100%;
        padding-block: 600%;
        transition: 0.2s ease-in-out;

    }

    .navbar.active {
        left: 0;
    }

    .main-nav ul {
        padding-top: 1rem;

    }

    .navbar {
        flex-direction: column;
    }

    .navbar li {
        margin: 7px;
        font-size: 2rem;
    }

    /* .topright {
        width: fit-content
    } */

    .header-right img {
        padding: 1.7vw;
        margin-top: 12px;
        max-width: 32vw;
    }

    .header-left {
        width: 100%;
        text-align: center;
    }

    .header-left li {
        list-style: circle;
        list-style-position: inside;
        font-size: 1rem;
    }

    .header-left h1 {
        font-size: 1.5rem;
    }

    /* .user-image {
        width: 90%;
        padding: 1.5vw;
        margin-top: 12px;
    } */

    .icon-gym1 {
        display: none;

    }

    .section3 table td {
        border-bottom: 2px solid black;
        padding-left: 72px;
    }

    .fadedtext {

        font-size: 4rem;
        width: 100%;
        margin-left: -5.3rem;
    }
}



/* .container{
        background-color: royalblue;
    } */



@media (max-width:911px) {
    /* .topleft {
        background-color: red;
        width: 100%;
        background-color: #98979b;

    } */

    /* .topright {
        max-width: 40vw;
        margin-left: -40px;
    } */

    /* .user-image {
        padding: 1.3rem;
        padding-right: -3px;
        margin-left: 37px;
        width: 15rem;
        margin-top: 6rem;
    } */

    /* .section1 H1 {
        font-size: 1.7rem;
        text-align: center;
    }

    .section1 {
        height: 50vh;
    } */

    .section3 table td {
        border-bottom: 2px solid black;
        padding-left: 72px;
    }
}


@media (max-width:856px) {
    .section3 {
        padding: 9px;
    }

    .contact-us-form-container {
        text-align: center;
    }

    .form {
        padding-right: 53px;
    }

    .section3 table td {
        border-bottom: 2px solid black;
        padding-left: 67px;
    }


    .footer-wrapper {
        display: flex;
        gap: 1rem;
        padding: 0.7rem;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .fadedtext {

        font-size: 3rem;
        text-align: center;
        width: 100%;
        margin-left: 5px
    }


    /* .container{
        background-color: royalblue;
    } */
}


@media (max-width:798px) {
    .top {
        flex-direction: column-reverse;
    }

/* 
    .topleft {
        min-width: 40vw;

    } */

    /* .user-image {
        min-width: 160%;
        margin-top: 1.8rem;
        margin-left: 5.1rem;
    } */


    /* .section1 {
        margin-block-end: 30.5rem;

    } */

    /* .section1 H1 {
        font-size: 2.6rem;
        text-align: center;
        margin-left: 1rem;
        margin-right: 2rem;
    } */
/* 
    .section1 li {
        list-style: circle;
        list-style-position: inside;
        font-size: 21px;
    } */


    .section3 table td {
        border-bottom: 2px solid black;
        padding-left: 63px;
    }

    .boxes {
        flex-direction: column;
    }

    .fadedtext {

        font-size: 3rem;
        text-align: center;
        width: 100%;
        margin-left: 0
    }


    .footer-wrapper {
        display: flex;
        gap: 1rem;
        padding: 0.7rem;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }


    /* 
    .user-image {

        padding: 1.3rem;
        padding-right: -3px;
        margin-left: 154px;
        width: 24rem;
        margin-top: 1rem;

    }

    .image {
        max-width: 100vh;
    } 


    /* .topleft{
        max-width: 100vw;
    } */
    /* .topright {
        max-width: 100vw;
    } */

    /* .section2{
    height: auto;
} */

}


@media (max-width:768px) {
    min-h-screen {
        min-height: 100vh;
    }

    .header-section {
        flex-direction: column-reverse;
    }

    .header-right img {
        max-width: 71vw;
    }

    .header-left {
        width: 90%;
        text-align: center;
    }

    .header-section {
        gap: 10px;
        padding-block: 0.6rem;
    }


    .header-left h1 {
        font-size: 1.8rem;
    }

    .footer-wrapper {

        flex-direction: column-reverse;
        width: 100%;
        text-align: center;

    }

    .copy {
        max-width: 50vw;
    }

    .contact-us-form-container {
        text-align: center;
    }

    .font-bold {
        font-size: 1rem;
        margin-bottom: -1rem;
    }

    .section3 h1 {
        font-size: 2rem;

    }

    .section3 table td {
        padding-left: 53px;
    }

    .contactus-heading {
        font-size: 3rem;

    }

    .contactus-subheading {
        font-size: 1.5rem;

    }

    .formfield {

        font-size: 12px;

    }

    .send {
        width: 100%;
    }


    /* .section1 {
        display: flex;
        flex-direction: column-reverse;
    } */

    /* 
    .user-image {
        padding: 4rem;


    } */

}

@media (max-width:479px) {
    .container {
        max-width: 90vw;
    }

    .header-right img {
        max-width: 77vw;
        display: grid;
        align-items: center;
    }

    .header-left {
        width: 60%;
        text-align: center;
    }

    .header-section {
        gap: 10px;
        padding-block: 0.6rem;
    }


    .header-left h1 {
        font-size: 1.2rem;
    }

    .header-left li {

        font-size: 0.8rem;
    }

    .section2 h1 {
        font-size: 1.6rem;
        padding-top: 30px;
    }

    .section2 p {
        font-size: 0.8rem;
    }

    .box h2 {
        font-size: 1.6rem;
        padding: 12px;
    }

    .font {
        font-size: 0.8rem;
    }

    .highlighted {
        font-size: 1rem;
    }

    .section2 ul button {
        font-size: 1rem;
    }

    /* SECTION 3*/

    .section3 h1 {
        font-size: 1.6rem;
        padding-top: 16px;
    }

    .section3 table td {
        padding-left: 53px;
    }

    .font-bold {
        font-size: 0.8rem;
    }

    .section3 table td {
        padding-left: 0px;
        text-align: center;
    }

    .font2 {
        font-size: 0.7rem;
    }



    .contactus-heading {
        font-size: 1.6rem;

    }

    .contactus-subheading {
        font-size: 1.1rem;

    }

    .formfield {

        font-size: 8px;
        height: 30px;

    }

    .fadedtext {

        font-size: 2rem;
        text-align: center;
        width: 100%;
        margin-left: 0
    }

}

@media (max-width:425px) {

    .fadedtext {

        font-size: 2rem;
        text-align: center;
        width: 100%;
        margin-left: 0;
        padding-bottom: 1.6rem;

    }

    .copy {
        max-width: 50vw;
        font-size: 0.8rem;
    }

    #submit-btn {
        order: none;
        font-size: 0.5rem;
        margin: 1rem 0px;
        padding-left: 13px;
        padding-top: 3px;
    }

    .submit-icon {
        padding: 0px 2rem;
        font-size: 0.7rem;
        margin-left: -12px;
    }
}

@media (max-width:320px) {
    .fadedtext {

        font-size: 1.6rem;
        text-align: center;
        width: 100%;
        margin-left: 0;
        padding-bottom: 1.6rem;

    }

    .footer-wrapper {
        flex-direction: column-reverse;
        width: 67%;
        text-align: center;
        /* flex-wrap: wrap; */
        align-items: center;
    }
}